@import "import/reset";
@import "import/mixins";
@import "import/helpers";
@import "import/settings";


body {
    font-family: Roboto;
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    // box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    // background: greenyellow;
    // background: black;
    background: linear-gradient(90deg, rgb(128, 223, 255), rgb(131, 255, 131))
}

.signup-form, .login-form {
    .form-already-link {
        @include unselectable();
        margin-top: 2rem;
        cursor: pointer;

    }
}

.signup-form, .login-form, .forgot-password-form {
    box-shadow: 0 3px 6px 3px rgb(214, 214, 214);
    // box-shadow: 0 3px 6px 3px blue;

    padding: 1.5rem 2rem;
    background: white;
    // width: 22rem;

    border-radius: .3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 2rem;

        gap: .7rem;

        .form-submit-btn {
            @include unselectable();

            background: rgb(49, 49, 255);
            padding: .5rem .7rem;
            border-radius: .2rem;
            color: white;
            cursor: pointer;
            margin-top: 1rem;
            transition: .1s;
            font-size: 1.1rem;

            &:hover {
                background: lighten(rgb(49, 49, 255), 5%)
            }
        }

        .form-input {
            font-size: 1rem;
            padding: .7rem .6rem;
            border: lightgray solid 1px;
            border-radius: .2rem;
            // height: 2.5rem;
            // border-
        }
    }


    // FOR TEST
    margin-bottom: 3rem;

    .form-title-major {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .form-title-minor {
        margin-top: .5rem;
        // font-
    }
}

.signup-form {}
.login-form {}
.forgot-password {}